<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>I can't let you see the secret until you confirm that you have the secret code!</h1>
    <form action="/confirmcode" method="POST">
        <label for="FormCode">What's the code?</label>
        <input type="number" name="FormCode">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>