<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Teehee, I know your secret!</h1>
    <a href="/forgetmysecret">OMG STOP IT FORGET I TOLD YOU ANYTHING!</a>
    <p>You told me that @ViewBag.YourSecret</p>

    <p>
        @ViewBag.MyObject.Name - @ViewBag.MyObject.Age
    </p>
</body>
</html>