@model Team
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="col-sm-12 text-center">
                Add a New Team!
            </h1>
        </div>
        <div class="row">
            <div class="col-sm-4 offset-sm-4 text-center">
                <a href="/">Go Home</a>
            </div>
        </div>
        <div class="row">
            <form class="col-sm-8 offset-sm-2" asp-action="CreateTeam" asp-controller="Home" method="POST">
                <div class="form-group row">
                    <span class="col-sm-8 offset-sm-4 text-danger" asp-validation-for="Name"></span>
                    <label asp-for="Name" class="col-sm-4"></label>
                    <input asp-for="Name" class="col-sm-8 form-control">
                </div>
                <div class="form-group row">
                    <span class="col-sm-8 offset-sm-4 text-danger" asp-validation-for="HQLocation"></span>
                    <label asp-for="HQLocation" class="col-sm-4"></label>
                    <input asp-for="HQLocation" class="col-sm-8 form-control">
                </div>
                <div class="form-group row">
                    <input type="submit" value="Submit!" class="col-sm-4 offset-sm-4 btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</body>
</html>