@using FirstProject.Models
@model BonusRoundWrapper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User</h1>
        <p>First Name: @Model.User.FirstName</p>
        <p>Last name: @Model.User.LastName</p>
    <h1>Pancake</h1>
        <p>Name: @Model.Pancake.Name</p>
        <p>Syrup: @Model.Pancake.Syrup</p>
</body>
</html>