@model string
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello, welcome to Dunder's website!</h1>
    <h2>A message to you from the great Dunder: @ViewBag.Elephant</h2>
    <a href="/page2">Go to the Other page</a>
    <a href="/redirect">Go to the Other page, but via a redirect for some reason apparently</a>

    <h3>@Model</h3>    
    


    <br>
    <form action="/submitted" method="POST">
        <label for="Name">Name: </label>
        <input type="text" name="Name">
        <br>
        <label for="Age">Age: </label>
        <input type="number" name="Age">
        <br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>